# Ignore all hidden folders
.*/
# But allow .git directory (important for git to function)
!.git/

# Ignore specific folders
.settings/
bin/

# Ignore specific Eclipse project files
.classpath
.project