<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>demo1</servlet-name>
        <servlet-class>demo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo0</servlet-name>
        <servlet-class>demo0</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo2</servlet-name>
        <servlet-class>demo2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo3</servlet-name>
        <servlet-class>demo3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo4</servlet-name>
        <servlet-class>demo4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo5</servlet-name>
        <servlet-class>demo5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo6</servlet-name>
        <servlet-class>demo6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo7</servlet-name>
        <servlet-class>demo7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo8</servlet-name>
        <servlet-class>demo8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo9</servlet-name>
        <servlet-class>demo9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p1_cookie</servlet-name>
        <servlet-class>p1_cookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p2_cookie</servlet-name>
        <servlet-class>p2_cookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p3_cookie</servlet-name>
        <servlet-class>p3_cookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p4_cookie</servlet-name>
        <servlet-class>p4_cookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p5_cookie</servlet-name>
        <servlet-class>p5_cookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1_session</servlet-name>
        <servlet-class>s1_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_session</servlet-name>
        <servlet-class>s2_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s3_session</servlet-name>
        <servlet-class>s3_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s4_session</servlet-name>
        <servlet-class>s4_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s5_session</servlet-name>
        <servlet-class>s5_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kkk</servlet-name>
        <servlet-class>kkk</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>demo1</servlet-name>
        <url-pattern>/demo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo0</servlet-name>
        <url-pattern>/demo0</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo2</servlet-name>
        <url-pattern>/mlabs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo3</servlet-name>
        <url-pattern>/demo3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo4</servlet-name>
        <url-pattern>/demo4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo5</servlet-name>
        <url-pattern>/demo5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo6</servlet-name>
        <url-pattern>/demo6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo7</servlet-name>
        <url-pattern>/demo7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo8</servlet-name>
        <url-pattern>/demo8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo9</servlet-name>
        <url-pattern>/demo9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p1_cookie</servlet-name>
        <url-pattern>/p1_cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p2_cookie</servlet-name>
        <url-pattern>/p2_cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p3_cookie</servlet-name>
        <url-pattern>/p3_cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p4_cookie</servlet-name>
        <url-pattern>/p4_cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p5_cookie</servlet-name>
        <url-pattern>/p5_cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1_session</servlet-name>
        <url-pattern>/s1_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_session</servlet-name>
        <url-pattern>/s2_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s3_session</servlet-name>
        <url-pattern>/s3_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s4_session</servlet-name>
        <url-pattern>/s4_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s5_session</servlet-name>
        <url-pattern>/s5_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kkk</servlet-name>
        <url-pattern>/vivek</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
