body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddfbc1;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

#content{
    display:flex;
}

main {
    flex: 4;
    margin: 20px;
}

section {
    padding: 20px;
    background-color: #fa8e8e;
}

section h2 {
    color: #333;
}

article {
    padding: 20px;
    background-color: #8a89f2;
}

article h2 {
    color: #333;
}

aside {
    flex:1;
    padding: 20px;
    background-color: #88f1b7;
    margin: 20px;
}

aside h3 {
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
